In [6]:
import mysql.connector

conexion = mysql.connector.connect(user='root', password='AlumnaAdalab',
                                   host='127.0.0.1', database='proyecto')

micursor = conexion.cursor()

sql = "INSERT INTO tabla_txt (index_txt, index_sql, q3, q4, q5, q6, q7, q8, q9, q11, q12, q13, q14, q15, q16, q17, q20, q21, q22, q23, q24, q25, q26, q32, q33, q34, q35, q41) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

try:
    micursor.executemany(sql, datos_limpios_txt)
    conexion.commit()
    print(micursor.rowcount, "registro/s insertado/s.")
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

conexion.close()

Not enough parameters for the SQL statement
Error Code: -1
SQLSTATE None
Message Not enough parameters for the SQL statement